@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
   
        <h1>Welcome to my Movie Application</h1>
        <p>I'm new to ASP.Net Core MVC so I'm trying to learn and create something new</p> <br />
        <p>Here's my first application without help, reading documentation or asking someone.</p>
        <a class="btn-outline-primary" href="/movie/index">Go to Movie Index</a>
</div>
